{% extends 'base.html' %}
{% block title %}Login{% endblock title %}
{% block content %}
<h1>Sign In</h1>
<form method="post" novalidate>
    {% csrf_token %}
    {{ form.non_field_errors }}
    <div>
        {{ form.username.label_tag }} 
        {{ form.username }}
    </div>
    <div>
        {{ form.password.label_tag }} 
        {{ form.password }}
    </div>
    <button type="submit">Sign In</button>
</form>

<p>Don't have an account? <a href="{% url 'register' %}">Sign up</a></p>
{% endblock content %}
